*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', Sans-Serif;
  text-decoration: none;
}
:root{
  --main-color: #0159FF;
}
body{
  background: #fff;
}
.loging-area{
  background: #f3f4f8;
  height: 50rem;
  width: 100%;
  display: flex;
  align-items: center;
}
.loging-left{
  width: 50%;
  height: 100%;
}
.loging-right{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
#MainForm{
  background: #fff;
  padding: 1rem;
  width: 75%;
  box-shadow: 0 3px 4px rgba(0,0,0,0.2);
  border-radius: 5px;
}
#emailInp{
  padding: 12px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: 0;
  font-size: 15px;
}
#emailInp:focus{
  border: 1px solid var(--main-color);
}
#passwordInp{
  padding: 12px;
  width: 100%;
  margin-top: 13px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: 0;
  font-size: 15px;
}
#passwordInp:focus{
  border: 1px solid var(--main-color);
}
.errorMessage {
  color: #E90418;
  font-size: 15px;
  margin-top: 5px;
  margin-left: 5px;
  font-weight: 400;
}
.login-btn{
  width: 100%;
  padding: 12px;
  border: 0;
  background: var(--main-color);
  margin-top: 15px;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
}
.login-btn:active{
  opacity: 0.70;
}
.fg-pass{
  margin-top: 1rem;
  font-weight: bold;
  text-align: center;
  color: #1876f2;
  font-size: 15px;
}
hr{
  margin-top: 2rem;
  width: 100%;
  height: 1px;
  border: 0;
  background: #ccc;
}
.singUp-btn{
  padding: 12px;
  border: 0;
  background: #28a745;
  margin-top: 25px;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
}
.singUp-btn:active{
  opacity: 0.70;
}
.new-account-btn-box{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loging-left-content{
  margin-top: 15rem;
  margin-left: 2rem;
}
.loging-left img{
  width: 18rem;
}
.loging-left-content p{
  font-size: 28px;
}
.loging-logo{
  width: 100%;
  display: none ;
  align-items: center ;
  justify-content: center;
}
.loging-logo img{
  width: 4rem;
}
.loging-preloader-bg{
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.3);
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
}
.loading-box{
  width: 85%;
  padding: 1.5rem;
  background: #fff;
  border-radius: 7px;
  display: flex;
  align-items: center;
}
.loading-txt{
  margin-left: 1rem;
}

.loading-preloader {
    width: 30px;
    height: 30px;
    border: 3px solid #f3f3f3;
    border-top: 3px solid var(--main-color);
    border-radius: 50%;
    animation: spin 0.9s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.dot:nth-child(2) {
    animation-delay: 0.2s;
}

.dot:nth-child(3) {
    animation-delay: 0.4s;
}

.dot:nth-child(4) {
    animation-delay: 0.6s;
}

@keyframes bounce {
    to {
        transform: translateY(-20px);
        opacity: 0.7;
    }
}


/* Media query for mobile devices */
@media only screen and (max-width: 767px){
  
.loging-left{
  display: none;
}
body{
  background: #f3f4f8;
}

#MainForm{
  width: 100%;
  background: transparent;
  box-shadow: none;
  height: 100%;
  
}
.loging-right{
  width: 100%;
}
hr{
  display: none;
}
#emailInp{
  padding: 20px;
  border-radius: 10px;
}
#passwordInp{
  padding: 20px;
  border-radius: 10px;
}
.login-btn{
  border-radius: 2rem;
  font-weight: normal;
  font-size: 17px;
}
.fg-pass{
  color: #000;
  font-size: 14px;
  font-weight: 420;
}
.singUp-btn{
  width: 200px;
  background: transparent;
  border: 1px solid var(--main-color);
  color: var(--main-color);
  border-radius: 2rem;
  font-weight: 420;
}
.new-account-btn-box{
  margin-top: 5rem;
}
.loging-logo{
  margin-top: 2rem;
  display: flex ;
  margin-bottom: 6rem;
}
.loging-logo img{
  width: 4rem;
}
.loging-area{
  height: 100%;
}
.errorMessage{
  font-size: 13px;
}
}