*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', Sans-Serif;
  text-decoration: none;
}
:root{
  --main-color: #0159FF;
}
body{
  background: #f3f4f8;
}
.form-container{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 4rem;
}
.logo-img-container{
  margin-top: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-img-container img{
  width: 18rem;
}
#MainForm{
  margin-top: 1rem;
  background: #fff;
  box-shadow: 0 0px 10px rgba(0,0,0,0.3);
  padding: 15px;
  width: 45%;
  border-radius: 5px;
  
}
.form-header{
  width: 100%;
  height: 3.5rem;
  background: #fff;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 15px;
}
#fnameInp{
  margin-top: 1rem;
  padding: 11px;
  width: 48%;
  border: 1px solid #ccc;
  outline: 0;
  background: #efefef;
  border-radius: 7px;
}
#fnameInp:focus{
  border: 1px solid var(--main-color) ;
}
#lnameInp{
  margin-top: 13px;
  margin-left: 3%;
  width: 48%;
  padding: 11px;
  border: 1px solid #ccc;
  outline: 0;
  background: #efefef;
  border-radius: 7px;
}
#lnameInp:focus{
  border: 1px solid var(--main-color) ;
}
#emailInp{
  margin-top: 13px;
  width: 100%;
  padding: 11px;
  border: 1px solid #ccc;
  outline: 0;
  background: #efefef;
  border-radius: 7px;
}
#emailInp:focus{
  border: 1px solid var(--main-color) ;
}
#passwordInp{
  margin-top: 13px;
  width: 100%;
  padding: 11px;
  border: 1px solid #ccc;
  outline: 0;
  background: #efefef;
  border-radius: 7px;
}
#passwordInp:focus{
  border: 1px solid var(--main-color) ;
}
.date-of-birth{
  font-size: 13px;
  color: #808080;
}
.date-display-flex{
  margin-top: 14px;
  display: flex;
  align-items: center;
}
.date-display-flex i{
  margin-left: 5px;
  color: #808080;
}
#day{
  padding: 10px;
  border: 1px solid #ccc;
  background: #fff;
  width: 32%;
  margin-top: 6px;
  outline: 0;
}
#month{
  padding: 10px;
  border: 1px solid #ccc;
  background: #fff;
  width: 32%;
  margin-left: 1%;
  margin-top: 6px;
  outline: 0;
}
#year{
  padding: 10px;
  border: 1px solid #ccc;
  background: #fff;
  width: 32%;
  margin-left: 1%;
  margin-top: 6px;
  outline: 0;
}
.gender{
  font-size: 13px;
  color: #808080;
}
.display-flex{
  display: flex;
  align-items: center;
  color: #808080;
}
.display-flex i{
  margin-left: 5px;
}
.gender-container {
  display: flex;
  align-items: center;
  gap: 20px;
}
.gender-option {
  margin-top: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  font-size: 16px;
  user-select: none;
  background: transparent;
  border: 1px solid #ccc;
}
.gender-option input{
  margin-left: auto;
}
.sb-text{
  font-size: 12px;
  color: #808080;
}
.sb-text-two{
  font-size: 12px;
  color: #808080;
}
.link-color{
  color: var(--main-color);
}
.singup-btn{
  background: #28a745;
  border: 0;
  color: #fff;
  padding: 7px;
  width: 25%;
  font-weight: bold;
  border-radius: 4px;
  margin-left: 25%;
}
.singup-btn:active{
  opacity: 0.70;
}
.loging-btn{
  background: var(--main-color);
  border: 0;
  color: #fff;
  padding: 7px;
  width: 25%;
  font-weight: bold;
  border-radius: 4px;
  margin-left: 2%;
}
.loging-btn:active{
  opacity: 0.70;
}
.errorMessage {
  padding: 8px;
  text-align: center;
  margin-top: 10px;
  background: #FFE0E3;
  border: 1px solid red;
  display: none;
}
@media only screen and (max-width: 767px) {
.logo-img-container{
  display: none;
}
#MainForm{
  margin-top: 0;
  width: 100%;
  box-shadow: none;
  height: 100vh;
}
.form-header{
  border-bottom: 0;
}
.form-container{
  padding-bottom: 0;
}
#fnameInp{
  width: 100%;
  padding: 18px;
}
#lnameInp{
  width: 100%;
  margin-left: 0;
  padding: 18px;
}
#emailInp{
  padding: 18px;
}

#passwordInp{
  padding: 18px;
}
#day{
  width: 31%;
}
#year{
  width: 31%;
}
#month{
  width: 31%;
}
.singup-btn{
  background: #28a745;
  padding: 14px;
  width: 100%;
  border-radius: 2rem;
  margin-left: 0;
}
.loging-btn{
  margin-top: 1rem;
  background: var(--main-color);
  padding: 14px;
  width: 100%;
  border-radius: 2rem;
  margin-left: 0;
}
}